* 
	&:focus
		outline none

html, body
	height 100%
	
body
	-webkit-font-smoothing: antialiased;
	position relative
	background url('../images/bgpattern.png') repeat
	font-family 'robotomedium', Helvetica, Arial
	
.main-wrap
	padding 20px
	box-sizing border-box
	position absolute
	top 60px
	left 0
	right 0
	bottom 0
	overflow-x hidden
	overflow-y auto
	
input::-ms-clear
	display none
	

.head
	font-size 32px
	color #333333
	margin-bottom 40px

.text
	font-size 16px
	color #333333
	margin-bottom 20px
	font-family RobotoLight




	
